{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="Emks-YLoot3OEzodAeA8ozXMkzPs6dmyx9qSco8ELz0"/>
    <meta name="keywords" content="Clickstart, Click Start, clickstartCCTV, clickstartcctv, clickstart cctv, cctv, CCTV, cctv camera istallation, cctv installation, installation, camera installation, cctv installation near laguna, cctv camera near laguna, cctv installation around laguna, service, cctv for sale, Laguna, laguna, security camera, security, cameras, camera, ncr, NCR, Metro Manila, cctv near metro manila, cctv around manila, camera business, cctv camera, cctv cameras, around Laguna, Installation, CCTV around Laguna, DVR, dvr, nvr, bullet camera, hikvision, Hikvision, dahua, zik, biometric system, system, biometrics, attendance, time and attendance, santa rosa laguna, cabuyao, calamba">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=B612" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}">
    <script src="https://cdn.tiny.cloud/1/4uo76d4wgycsi3tr3xqkyrpzlm401b9t5op28iiewjvm8d3w/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>tinymce.init({selector: "textarea:not(.mceNoEditor)", plugins: "image"});</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172978446-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-172978446-1');
    </script>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=607953923186783&autoLogAppEvents=1"
            nonce="w1WVOZ4l"></script>

    <!--{% if title %}
        <title>Clickstart CCTV| {{ title }}</title>

    {% else %}
        <title>Clickstart CCTV</title>

    {% endif %}-->

    <title>Clickstart CCTV | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'blog/main.css' %}">

</head>
<!--<body style = 'background: #ffffff; background-image: url("{% static 'blog/images/walking-girl.png' %}"); background-repeat: no-repeat; background-position: bottom right; background-size: 50% 50%'>-->
<body style='background: #ffffff;'>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" style="font-family: 'Zilla Slab', sans-serif; font-size: 25px;" href="/"><img
                    src="{% static 'blog/images/click_icon150x150.png' %}"
                    style="width: 50px; height: 50px; margin-right: 10px; ">CLICKSTART CCTV</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'blog:landing' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'blog:blog-home' %}">Blog</a>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Newsroom
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'newsapp:news_home' %}">Engadget</a>
                            <a class="dropdown-item" href="{% url 'newsapp:bbc' %}">BBC</a>
                            <a class="dropdown-item" href="{% url 'newsapp:wsj' %}">The Wall Street Journal</a>
                            <a class="dropdown-item" href="{% url 'newsapp:corona' %}">Coronavirus Latest News</a>
                        </div>
                    </li>

                    <a class="nav-item nav-link" href="{% url 'blog:blog-contact' %}">Contact Us</a>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'blog:blog-about' %}">Company Information</a>
                            <a class="dropdown-item" href="{% url 'blog:blog-projects' %}">Our Projects</a>
                            <a class="dropdown-item" href="{% url 'blog:services' %}">Services</a>
                            <!--<a class="dropdown-item" href="{% url 'newsapp:wsj' %}">The Wall Street Journal</a>-->
                        </div>
                    </li>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'blog:post_create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
                    {% endif %}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="form-inline ml-auto" method="GET" action="{% url 'blog:search' %}">
                            <div class="md-form my-0 ml-2">
                                <input class="form-control" type='text' name='q' value='{{ request.GET.q }}'>
                            </div>
                            <button class="todo-button"
                                    style="padding: 0.5rem; margin:0; border: none; background: transparent;"
                                    type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        <div class="col-md-4 mt-4">

            <div class="content-section text-center">
                <h4>Having trouble with your <strong>Hikvision Password</strong> and <strong>Remote Viewing through
                    Mobile?</strong></h4>
                <h5>We can help you with that!</h5>
                <img src="https://img.icons8.com/clouds/2x/password-window.png"
                     style="width: 120px; height: 120px;"></a>
                <br>
                <br>
                <h4>Just call or text us at <strong>0932-171-2155</strong> for support!</h4>
            </div>

            <div class="content-section text-center">
                <h2>Support Us!</h2>
                <a target="_blank" href="https://paypal.me/allanpalma2019?locale.x=en_US">
                    <img src="{% static 'blog/images/kisspng-paypal-logo-brand-font-payment-paypal-logo-icon-paypal-icon-logo-png-and-vecto-5b7f273e45e8a9.9067728615350597742864.png' %}" style="width: 150px; height: 150px;"></a>
                <br>
                <br>
                <h5>If you are satisfied and happy with my website, you can support me for its improvement and to help
                    the victims of Covid-19 around the world.</h5>
            </div>

            <div class="content-section text-center">
                <center><h2 class="mt-2">Follow us!</h2></center>
                <p>For the latest updates.</p>
                <div class="row">
                    <a href="https://www.facebook.com/clickstartcctv/" target="_blank"><img
                            src="{% static 'blog/images/facebook.png' %}" id="soc"></a>
                    <a href="https://twitter.com/clickstartcctv" target="_blank"><img
                            src="{% static 'blog/images/twitter.png' %}" id="soc"></a>
                    <a href="https://www.youtube.com/channel/UCBPEHyFfB6RXDetde5EU6Vw" target="_blank"><img
                            src="{% static 'blog/images/youtube.png' %}" id="soc"></a>
                    <a href="https://www.instagram.com/clickstartcctv/" target="_blank"><img
                            src="{% static 'blog/images/instagram.png' %}" id="soc"></a>
                </div>
            </div>

            <div class="content-section">
                <a href="{% url 'newsapp:corona' %}">
                    <center><h2>Coronavirus Cases</h2></center>
                </a>
                <center><h5>(As of {{ date|date:"F d, Y" }})</h5></center>
                <div class="row">
                    <p id="crona3">All Cases</p>
                    <p id="crona3">Deaths</p>
                    <p id="crona3">Recovered</p>
                </div>
                <div class="row">
                    <img src="{% static 'blog/images/corona-virus.png' %}" id="crona2">
                    <img src="{% static 'blog/images/death.png' %}" id="crona2">
                    <img src="{% static 'blog/images/hospital.png' %}" id="crona2">
                </div>
                <div class="row">
                    <p id="crona4">{{ all }}</p>
                    <p id="crona4">{{ deaths }}</p>
                    <p id="crona4">{{ recovered }}</p>
                </div>
            </div>

            <div class="content-section text-center">
                <strong><h2 class="mb-4">Random Quote for the day</h2></strong>
                <h5 class="mb-4">"{{ quote }}"</h5>
                <strong><p><em>- {{ author }}</em></p></strong>

            </div>

            <div class="content-section text-center">
                <h2>Weather for Today</h2>
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-50x50">
                            <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <!--<center><p>
                                <span class="title">{{ city }}</span>
                                <br>
                                <span class="subtitle">{{ temperature }}</span>
                                <br> {{ description }}
                            </p></center>-->
                            <h3 class="ml-2">{{ date|date:"F d, Y" }}</h3>
                            {{ value|linebreaks }}
                            <h3 class="ml-2">{{ city }}</h3>
                            <h3 class="ml-2">{{ temperature }}</h3>
                            <h3 class="ml-2"> {{ description }} </h3>
                        </div>
                </article>
            </div>

            <div class="content-section">
                <h3>The News Emporium</h3>
                <p class='text-muted'>Bored? You can browse for the hottest headlines from different sources here.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a
                            href="{% url 'newsapp:news_home' %}">Engadget</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'newsapp:bbc' %}">BBC News</a>
                    </li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'newsapp:wsj' %}">The Wall Street
                        Journal</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{% url 'newsapp:corona' %}">Coronavirus
                        Cases</a></li>
                    <!--<li class="list-group-item list-group-item-light">etc</li>-->
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

<!----------- Footer ------------>
<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft text-center">
            <img id="footerimg" src="{% static 'blog/images/click_icon150x150.png' %}">
            <p>Clickstart CCTV's mission is to provide the people with security to the highest degree through video
                surveillance solutions. With this clear-cut objective in mind, the dedication, grit, and hardwork of our
                staff will ensure that we will always deliver on our promise.</p>
            <p>© 2020 Clickstart CCTV, All rights reserved</p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Menu —</h4>
            <div class="col-md-6">
                <ul class="pages">
                    <li><a href="{% url 'blog:blog-about' %}">About Us</a></li>
                    <li><a href="{% url 'blog:blog-contact' %}">Contact Us</a></li>
                    <!--<li><a href="#">Explores</a></li>
                    <li><a href="#">Science</a></li>
                    <li><a href="#">Advice</a></li>-->
                </ul>
            </div>
            <!--<div class="col-md-6">
                <ul class="list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>-->
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
                <li><a target='_blank' href="https://www.facebook.com/clickstartcctv/"><i
                        class="fa fa-facebook-square mr-2" aria-hidden="true"></i>Facebook</a></li>
                <li><a target='_blank' href="https://twitter.com/clickstartcctv"><i class="fa fa-twitter mr-2"
                                                                                    aria-hidden="true"></i>Twitter</a>
                </li>
                <li><a target='_blank' href="https://www.instagram.com/clickstartcctv/"><i class="fa fa-instagram mr-2"
                                                                                           aria-hidden="true"></i>Instagram</a>
                </li>
                <li><a target='_blank' href="https://www.youtube.com/channel/UCBPEHyFfB6RXDetde5EU6Vw"><i
                        class="fa fa-youtube mr-2" aria-hidden="true"></i>Youtube</a></li>
            </ul>
        </div>


        <!--<div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Newsletter</h4>
            <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
            <p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="fa fa-envelope"></span></button>
                      </span>
            </div>
            </p>
        </div>-->
    </div>
</footer>
<section style="text-align:center; margin:10px auto;"><p>Copyright © 2020 Clickstart CCTV. All Rights Reserved.</p>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>