<!DOCTYPE html>
<html lang="en">
{% extends 'base/landingbase.html' %}
{% load static %}
{% block content %}
    <div id="secondcon2" class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div id="services" class="card-body">
                        <h1 id="catcher">Be the eyes and ears in everything that matters.</h1>
                        <h5 id="below">As technology and business methods advance more than ever,
                            security becomes a
                            necessity for everybody and everything.<br><br>
                            We at Clickstart CCTV makes it easier for you to ensure that safety is accessible.</h5>
                        <a id="but" class="btn btn-primary btn-lg" href="{% url 'blog:blog-contact' %}" style="color:white;">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div id="services" class="card-body">
                        <img id="sec" src="{% static 'blog/images/landing/security.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container text-center">
        <h1 id="catcher" style="margin-top: 60px;" class="text-center">Get a Quote!</h1>
        <h5 id="below" class="text-center">Contact us by pressing the middle button below, and get a customized
            quotation from us depending on your requirements.</h5>
        <div class="row justify-content-center">
            <a id="but" class="btn btn-info btn-lg text-center" href="{% url 'blog:blog-home' %}"
               style="color:white;">Our Blog</a>
            <a id="but" class="btn btn-primary btn-lg text-center" href="{% url 'blog:blog-contact' %}"
               style="color:white;">Contact Us Here</a>
            <a id="but" class="btn btn-danger btn-lg text-center" href="{% url 'newsapp:news_home' %}"
               style="color:white;">The Newsroom</a>
        </div>
    </div>

    <div class="container text-center" style="margin-top: 150px; margin-bottom: 100px;">
        <div class="row justify-content-center">
            <img id="products1" src="{% static 'blog/images/landing/hikvision.png' %}">
            <img id="products" src="{% static 'blog/images/landing/dahua.png' %}">
            <img id="products" src="{% static 'blog/images/landing/zkteco.png' %}">
            <img id="products1" src="{% static 'blog/images/landing/ubiquiti.png' %}">
        </div>
    </div>

     <h1 id="about" class="text-center" id="about">About Us</h1>

    <h3 id ="about" class="text-center" id="about2">Clickstart CCTV and Computer Installation Services</h3>
    <div class="container" id="img-container">
        <img id="logo" src="/media/profile_pics/click_icon150x150.png"><p id="info-company">
        <strong>Clickstart CCTV Company</strong> was founded by Mr. Allan Palma Cruz in October 2019.
            As a newly-established company, Clickstart uses this as its pride and drive in having the unwavering determination to provide the best services possible.
            We specialize in the supply, design, maintenance, and installation of video surveillance systems with the best interest of the customers’ individual needs in mind.
            Equipped with in-depth understanding of the latest technology, we are committed in helping our customers in finding the most comprehensive solutions.
        </p>
    </div>
    <div class="container" id="mission">
        <h2 class="text-center" id="about">Our Mission and Vision</h2>

        <p id ="vision" class= "text-center">
            Clickstart CCTV's mission is to provide the people with security to the highest degree through video surveillance solutions.
            With this clear-cut objective in mind, the dedication, grit, and hardwork of our staff will ensure that we will always deliver on our promise.</p>
    </div>


    <div style="margin-top: 100px;"class="container-fluid text-center">
        <h1 id="catcher" class="text-center">This is how we work.</h1>
        <h5 id="below" class="text-center">Security Redefined.</h5>
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <div class="card">
                    <div id="services" class="card-body">
                        <img id="serviceimage" src="{% static 'blog/images/services/customized.png' %}">
                        <h2 id="servicetext" class="text-center">Customized Requirements</h2>
                        <p id="servicesmall" class="text-center">We are more than eager to meet the client's every need
                            and requirement,
                            from
                            method of installation and schedule to materials.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div id="services" class="card-body">
                        <img id="serviceimage" src="{% static 'blog/images/services/delivery.png' %}">
                        <h2 id="servicetext">Quality Materials</h2>
                        <p id="servicesmall">The materials used for installation of cameras are handpicked to ensure
                            efficiency and quality.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div id="services" class="card-body">
                        <img id="serviceimage" src="{% static 'blog/images/services/highquality.png' %}">
                        <h2 id="servicetext">Outstanding Service</h2>
                        <p id="servicesmall">Every step we take is scrutinized so that we can achieve the desired
                            results
                            of
                            the client. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div id="services" class="card-body">
                        <img id="serviceimage" src="{% static 'blog/images/services/highvalue.png' %}">
                        <h2 id="servicetext" class="text-center">Value for Money</h2>
                        <p id="servicesmall" class="text-center">We make sure that every penny you spend is matched to
                            the best and suitable
                            CCTV
                            cameras and services that we offer.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div id="services" class="card-body">
                        <img id="serviceimage" src="{% static 'blog/images/services/support.png' %}">
                        <h2 id="servicetext">Long-Term Warranty</h2>
                        <p id="servicesmall">We provide one-year warranty to make sure that you're covered in every
                            problem
                            that might arise.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div id="services" class="card-body">
                        <img id="serviceimage" src="{% static 'blog/images/services/cloud.png' %}">
                        <h2 id="servicetext">Anytime, Anywhere</h2>
                        <p id="servicesmall">The CCTV cameras are your eyes and ears, and you can see and hear them in a
                            simple touch on a viewing app in your smartphone! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid text-center">
        <h1 id="catcher" class="text-center">Our Blog</h1>
        <h5 style="margin-bottom: 50px;"id="below" class="text-center">A collection of information that might help you. Take a look.</h5>

        <div class="row justify-content-center">

            {% for post in posts|slice:"3" %}
                <div class="card1" style="width: 20rem; margin-bottom: 25px;">
                    <div class="card-body">
                        <h5 style ="font-family: 'Fredoka One', sans-serif;"class="card-title">{{ post.title }}</h5>
                        <a target="_blank" href="{% url 'blog:post_detail' slug=post.slug pk=post.id %}" class="btn btn-info">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
</html>